html {
  height: 100%;
}

body {
  background-color: #7e5731;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarcomponent {
  background-color: #7E5731;
  min-width: 100%;
  min-height: 100%;
} 

.login {
  background-color: #C18D5E;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.projectName {
  background-color: #C18D5E;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.groupName {
  background-color: #C18D5E;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.addTask {
  background-color: #C18D5E;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.setupSuccessful {
  background-color: #C18D5E;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.boardComponent{
  background: url("./assets/wood_board.jpeg") no-repeat; 
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}

.fillWindow {
  background-color: #C18D5E;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.buttonColor {
  background-color: #7E5731;
} 

h1 {
  color: #7E5731;
}